// colors.css

$background-primary: #ffffff;
$background-secondary: #f6f6f6;
$text-primary: #000;
$primary: #ffbb00;
$secondary: #3bb143;

$card-background: #ecebe7;

$footer-background: #646464;
$footer-text: #fff;

$debug-red: salmon;

